* {
  box-sizing: border-box;
}

body {
  font-size: 35px;
  background-color: #1c1d25;
  color: white;
  text-align: center;
}

hr {
  width: 50%;
  margin: 30px auto;
  padding-bottom: 5px;
}

main {
  padding-top: 50px;
}

#logo {
  width: 250px;
  height: 250px;
}

#repo-name {
  font-size: 25px;
  padding: 11px;
}

#repo-options {
  font-size: 25px;
  padding: 12px;
}

#get-started-btn,
#github-logo,
#authenticate-btn,
#star-repo-button,
#footer-icons a svg {
  transition: all 0.2s ease;
}

#get-started-btn {
  font-size: 25px;
  padding: 12px;
  background-color: lightgreen;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

#get-started-btn:hover {
  transform: scale(1, 1, 1, 1);
  background-color: rgb(95, 244, 95);
  opacity: 0.8;
}

label {
  padding-right: 30px;
}

#github-logo {
  width: 25px;
  height: 25px;
  margin-right: 5px;
  margin-top: 2px;
}

#authenticate-btn {
  font-size: 25px;
  padding: 5px;
  background-color: black;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

#authenticate-btn:hover {
  transform: scale(1, 1, 1, 1);
  opacity: 0.8;
  background-color: white;
  color: black;
}

#authenticate-btn:hover #github-logo {
  filter: brightness(0) saturate(100%) invert(27%) sepia(51%) saturate(2878%)
    hue-rotate(346deg) brightness(104%) contrast(97%);
  transition: none;
}

a {
  color: rgb(76, 190, 228);
}

#star-repo-button {
  padding: 5px;
  background-color: #e7e7e7;
  border: 1px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
}

#star-repo-button:hover {
  background-color: rgba(229, 44, 55, 255);
  color: white;
}

footer {
  margin-top: 80px;
}

#footer-icons a {
  text-decoration: none;
  color: white;
}

#footer-icons a:hover svg {
  color: rgba(229, 44, 55, 255);
  scale: 1.06;
}

#unlink-repo {
  font-size: 30px;
}

#link-repo-request {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  margin: 1rem auto;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid white;
  border-radius: 8px;
  align-items: center;
}

#link-repo-request > * {
  width: auto;
  text-align: center;
  margin: 5px;
}

@media (max-width: 1100px) {
  #link-repo-request {
    flex-direction: column;
    align-items: center;
  }

  #link-repo-request > * {
    width: 100%;
  }
}
